


.body{
    /* background-image: url(sky.jpg); */
    background-size:99.99%;
    max-width: 99%;
    max-height: 99%;
}
.main{
    height: calc(100vh - 134px);
    display:flex;
    justify-content:center;
    align-items: center;
    /* border:2px solid blue; */
    height:850px;
    /* flex-direction:row; */
    

    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings:"wdth" 100;

}
.main-container{
    display:flex;
    /* border:2px solid red; */
    background-color: rgba(220, 219, 219, 0.796);
    border-radius:10px;
    box-shadow:2px 2px 32px -18px ;
    height:750px;
    width:76%;
    flex-direction:column;
    /* justify-content:space-evenly; */
    /* flex-wrap:wrap; */
    
}
.main-info-and-weekly-container{
    height:60%;
    display:flex;
    flex-direction:row;
    border-radius:10px;
    /* flex-wrap:wrap; */
    /* border:2px solid green; */
    align-items: center;
    justify-content:space-evenly;
}
.main-info-box{
    display:flex;
    background-color:white;
    margin-left:26px;
    /* margin-right:10px; */
    height:400px;
    width:30%;
    border-radius: 20px;
    /* border:2px solid yellow; */
    box-shadow:1px 2px 33px -16px ;
    flex-direction: column;
    justify-content:center;
    align-items:space-around;
    /* margin-left:20px; */
    
}
.place-name-and-image{
    display:flex;
    justify-content:space-evenly;
    width:100%;
    height:20%;
    /* border:2px solid green; */
    flex-direction: row;
}
#weather-image{
    display: flex;
    align-items:center;
    justify-content: center;
    /* align-self: center; */
    /* border: 2px solid blue; */
    
}
.place-name{
    align-items:center;
    justify-content: center;
    display:flex;
    width:fit-content;
    /* border:2px solid rgb(230, 194, 14); */
    color:black;
    font-size: 40px;
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:"wdth" 100;
}
.climate-time-box{
    display:flex;
    /* border:2px solid blue; */
    height:250px;
    flex-direction: column;
    align-items:space-between;
    justify-content: center;
}
.current-stats{
    /* border: 2px solid green; */
    display:flex;
    width:90%;
    /* width:100%; */

}
.temp-box{
    display: flex;
    flex-direction:row;
    justify-content:space-evenly;
    
    /* border:2px solid yellow; */
}
.current-temp-box{
    display:flex;
    flex-direction:column;
    font-size:20px;
    /* border:2px solid blue; */
    width:150px;
    width:fit-content;
}
.current-temp{
    display:flex;
    justify-content:center;
    font-size:35px;
    height:50px;
}
.current-temp-text{
    display:flex;
    justify-content:center;
    
}
.feels-like-temp-box{
    display:flex;
    flex-direction:row;
    font-size:20px;
    /* width:200px; */
    width:fit-content;
    /* border:2px solid blue; */
}
.feels-like-temp-text{
    display:flex;
    width:50%;
    align-items:center;
    justify-content:center;
}
.temp-feels-like{
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:25px;
}
.current-weather-stats-box{
    margin-top:10px;
    display:flex;
    flex-direction:column;
    width:100%;
    align-items:center;
    justify-content: center;
    /* border:2px soild green; */
}
.current-stats{
    width:80%;
    display:flex;
    align-items:center;
    /* justify-content: center; */
    height:40px;
}
/* .current-weather{
    display:flex;
    margin-right:30px;
} */
.weekly-forecast-and-title-box{
    display:flex;
    width:80%;
    height:400px;
    margin-left:10px;
    margin-right:10px;
    flex-direction:column;

}
.weekly-forecast-title-box{
    display:flex;
    width:100%;
    height:80px;
    justify-content:center;
    align-items:start;
    /* background-color:white; */
}
.weekly-forecast-title{
    display:flex;
    background-color:rgb(196, 239, 239);
    width:60%;
    justify-content:center;
    align-content:center;
    font-size:20px;
    align-items:center;
    border-radius: 15px;
    box-shadow:0px 5px 0px 1px ;
    height:50px;
}
.weekly-forecast-box{
    display:flex;
    width:100%;
    height:320px;
    /* align-items: end; */
    flex-direction:row;
    justify-content:space-around;
    /* border:2px solid green; */
}
.day-container{
    display:flex;
    flex-direction: column;

    justify-content: center;
    align-content: space-between;
    align-items: space-between;
    font-size:20px;
    background-color:white;
    border-radius: 15px;
    box-shadow:1px 2px 33px -20px ;
    width:14.5%;
    height:320px;
    /* margin-left:15px; */
   
}
.day-title{
    
    display:flex;
    justify-content:center;
    height:110px;
    align-items:center;
    font-size:26px;
    font-weight:400;
}
.day-entire-info-box{
    display:flex;
    align-self:center;
    flex-direction:column;
    align-content:space-between;
    align-items: space-between;
    height:240px;
}
.day-info{
    display:flex;
    height:30px;
    font-size:22px;
    justify-content:center;
    flex-direction:row;
    font-weight:300;
}
.day-humidity{
    font-size:18px;
    align-items:end;
}
.day-pressure{
    font-size:18px;
    align-items:end;
}
.day-info-text{
    display:flex;
    height:30px;
    font-size:15px;
    justify-content:center;
    align-items:start;
    color:rgb(98, 98, 98);
}   
.bottom-saved-places-and-add-btn-container{
    display:flex;
    height:35%;
    flex-direction:row;
    width:90%;
    /* align-self:center;
    justify-content: space-around; */
    margin-bottom:0px;
}

.modal-container{
    display:none;
    position:fixed;
    z-index:90;
    width:fit-content;
    height: fit-content;
    left:460px;
    top:700px;
    background-color: rgb(78, 114, 145);
    color:white;
    border-radius:12%
}
.modal{
    display:flex;
    flex-direction:column;
}
.modal-place-name-and-image{
    display:flex;
    flex-direction: row;
}
.modal-place-name{
    display:flex;
    height:100px;
    justify-content:center;
    align-items:center;
    margin-left:40px;
    font-size:28px;
    font-weight:500;
}
.modal-weather-image{
    display:flex;
    margin-left:40px;
    margin-right:20px;
}
.modal-main-info{
    display:flex;
    flex-direction: column;
    height:fit-content;
    margin:0px;
}
.modal-temperature{
    display: flex;
    padding: 10px;
    margin-left:10px;
    font-weight:400;
    font-size:20px;
}
.modal-weather{
    display: flex;
    padding: 10px;
    margin-left:10px;
    font-weight:400;
    font-size:20px;
}
.modal-pressure{
    display: flex;
    padding: 10px;
    font-weight:400;
    margin-left:10px;
}
.modal-humidity{
    display: flex;
    padding: 10px;
    font-weight:400;
    margin-left:10px;
    margin-bottom:20px;
}
.saved-places-and-map-container{
    height:100%;
    display:flex;
    flex-direction: row;
    width:90%;
    height:100%;

    /* border:2px solid blue; */
}
.map{
    align-self: start;
    display:flex;
    height:100%;
    width:400px;
    border:2px solid green;
    /* margin:8px; */
    margin-left:20px;
    display:none;
}

.saved-places-container{
    display:flex;
    flex-direction: row;
    width:fit-content;
    /* width:px; */
    /* border:2px solid green; */
    /* align-self: center; */
    justify-self: center;
    margin-left:30px;
    /* align-self:center; */
}
.saved-place-box{
    display:flex;
    height:100%;
    width:200px;
    /* border:2px solid green; */
    border-radius:8%;
    margin-left:15px;
    margin-right:15px;
    flex-direction:column;
    background-color: rgba(233, 234, 235, 0.993);
}
.add-place-btn{
    height:50px;
    width:50px;
    margin:6px;
    display:block;
    background-color:grey;
    border-radius:50px;
    align-self:center;
    justify-content:center;
    /* align-items:center; */
    font-size:30px;
    color:white;
}
/* .swiper-button-prev{
    height:50px;
    width:50px;
    margin:6px;
    display:block;
    background-color:grey;
    border-radius:50px;
    align-self:center;
    justify-content:center;
    align-items:center;
    font-size:30px;
    color:white;
} */
/* .swiper-button-prev{
    height:50px;
    width:50px;
    margin:6px;
    display:block;
    background-color:grey;
    border-radius:50px;
    align-self:center;
    justify-content:center;
    align-items:center;
    font-size:30px;
    color:white;
}.swiper-button-next{
    height:50px;
    width:50px;
    margin:6px;
    display:block;
    background-color:grey;
    border-radius:50px;
    align-self:center;
    justify-content:center;
    align-items:center;
    font-size:30px;
    color:white;
} */
.saved-place-weather-image{
    height:fit-content;;
    /* border:2px solid green; */
    width:fit-content;
    align-self:center;
    justify-content: center;
    align-items: center;;
}
.saved_place_name_and_icon_box{
    display:flex;
    flex-direction:column;
    justify-content:center;
}
.saved-place-name-box{
    margin-top:20px;
    display:flex;
    align-self:center;
    height:fit-content;
    justify-content: center;
    align-items:center;
    font-size:22px;
    font-weight:400;
    
}
.saved-place-temp-box{
    display:flex;
    height:fit-content;
    align-self: center;
    margin:5px;
    width:80%;
}
.saved-place-humidity-box{
    display:flex;
    height:60px;
    margin:5px;
    align-self: center;
    width:80%;
    margin-bottom:0px;
}
.clear-place-button{
    display:flex;
    height:30px;
    border:2px solid brown;
    /* justify-self:bottom; */
    width:50%;
    align-self:center;
    color:brown;
    justify-content: center;
    align-items: center;
    font-size:12px;
    font-weight:500;
    margin-bottom:10px;
}

/* .hide .add-place-btn{
    display:none;

} */