.header{
    padding:0px;
    margin:0px;

    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings:"wdth" 100;
}

.logo-title-container{
    display:flex;
    flex-direction:row;
    
}
.header-container{
    width:100%;
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    align-items: center;
    
    margin-top:6px;


    
}



.header-logo{
    display:flex;
    height:44px;
    width:44px;
    align-self: flex-start;
    filter: invert(98%);


}
.header-title{
    display:flex;
    width:fit-content;
    color:beige;
    height:44px;
    align-items: center;
    margin-left:10px;
    font-size:28px;
    font-weight: 500;
}

.search-bar-container{
    display:flex;
    flex-direction:row;
    width:300px;
}
.search-bar-logo{
    width: fit-content;
    height:fit-content;
    height:30px;
    
    
}

.search-logo{
    display:flex;
    height:30px;
    width:30px;
    border-top-right-radius:8px;
    border-bottom-right-radius:8px;
    border:0px;
   
}
.search-bar{
    height:30px;
    width:200px;
    padding:0px; 
    border-top-left-radius:8px;
    border-bottom-left-radius:8px;
    padding-left:14px;
    border:0px;
}
.search-bar-text{
    width: 30px;
    width:200px;
    padding-left:20px;
    font-size:18px;
}