@import 'header.css';
@import 'main.css';
@import 'footer.css';
@import 'responsive.css';

:root{
    --light-text-grey:#DDE6ED;
}
.max-width-container{
    max-width:1920px;
    width:100%;
}
.html{
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings:"wdth" 100;
}