
html{
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden; 
}
body{
    margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  background-size:99.99%;
}
.main-container {
  width: 100%; 
  margin: 0 auto; 
}

.main{
    display:flex;
    justify-content:center;
    align-items: center;
    height:fit-content;
    

    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings:"wdth" 100;
    margin-top:16px;
    margin-bottom: 30px;
    
}
.main-container{
    display:flex;
    border-radius:10px;
    height:fit-content;
    width:80%;
    flex-direction:column;
    margin-top:40px;
    margin-bottom:40px;
    
}
.place-name-and-image{
    display:flex;
    justify-content:left;
    padding-left:20px;
    width:100%;
    height:fit-content;
    flex-direction: row;
}

.place-name{
    align-items:center;
    justify-content: center;
    display:flex;
    width:fit-content;
    color:#000000;
    margin-top:10px;
    font-size: 54px;
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:"wdth" 100;
}
.top-box{
    display:flex;
    flex-direction:column;
    background-color: rgba(220, 219, 219, 0.796);
    border-radius:10px;
    height:fit-content;
}
.main-info-and-weekly-container{
    height:fit-content;
    padding:20px;
    display:flex;
    flex-direction:row;
    border-radius:10px;
    align-items: center;
    justify-content:space-evenly;
}
.main-info-and-title-box{
    display:flex;
    flex-direction:column;
    height:fit-content;
    width:fit-content;
    border-right:2px solid grey;
    padding-right:30px;
    
}
.main-info-box{
    display:flex;
    background-color:white;
    height:fit-content;
    width:fit-content;
    border-radius: 20px;
    width:530px;
    box-shadow:1px 2px 33px -16px ;
    flex-direction: row;
    justify-content:left;
    align-items:space-between;
    
}

.map-container{
    width:230px;
    display:flex;
    height:330px;
    align-self: left;
}
.climate-time-box{
    display:flex;
    height:330px;
    width:300px;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left:20px;
    
}
.current-stats{
    display:flex;
    width:90%;

}
.current-day-title{
    font-size: 25px;
    font-weight:400;
}
.temp-box{
    display: flex;
    flex-direction:row;
    justify-content:space-between;
    justify-self: left;
    width:80%;
}
.current-temp-box{
    display:flex;
    flex-direction:column;
    width:150px;
    width:fit-content;
}
.current-temp-val-box{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}
.current-temp{
    display:flex;
    justify-content:left;
    font-size:26px;

}
.degree-unit{
    padding-left:6px;
    font-size:24px;
}
.current-temp-text{
    display:flex;
    justify-content:center;
    font-size:16px;
}
.feels-like-temp-box{
    display:flex;
    flex-direction:column;
    
    width:fit-content;
}
.feels-like-temp-text{
    display:flex;
    width:100%;
    align-items:center;
    justify-content:center;
    font-size:16px;
    padding-right:6px;
}
.temp-feels-like{
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:26px;
}

.current-weather-stats-box{
    display:flex;
    flex-direction:column;
    width:90%;
    align-self:left;
    justify-content: space-between;
    
} 
.current-stats{
    width:fit-content;
    display:flex;
    align-items:center;
    font-size: 20px;
    height:fit-contnent;
}
.current-weather-box{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width:80%
}
.map{
    align-self: start;
    display:flex;
    height:100%;
    width:300px;
    border-radius:16px;
}

.weekly-forecast-and-title-box{
    display:flex;
    width:80%;
    height:400px;
    margin-left:10px;
    margin-right:10px;
    flex-direction:column;
    

}
.title-box{
    display:flex;
    width:100%;
    height:80px;
    justify-content:left;
    align-items:start;
}
.title{
    display:flex;
    width:fit-content;
    justify-content:center;
    align-content:center;
    font-size:38px;
    align-items:center;
    border-radius: 15px;
    height:50px;
    font-weight:400;
}
.weekly-forecast-box{
    display:flex;
    width:100%;
    height:320px;
    flex-direction:row;
    justify-content:space-around;
}
.forecast-data-names-box{
    display:flex;
    flex-direction:column;
    height:320px;
}
.day-title-label{
    display:flex;
    margin:20px 0px 28px 0px;
    padding:0px;
    height:30px;
    font-size:26px;
    font-weight:500;
}
.day-title-names-container{
    display:flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    font-size:16px;
    border-radius: 15px;
    
    width:fit-content;
    padding-right:10px;
    color:rgb(0, 0, 0);
}
.day-info-text{
    display:flex;
    height:30px;
     margin:12px 0px 12px 0px;
    font-size:18px;
    font-weight:300;
    align-items:start;
    
} 
.day-container{
    display:flex;
    flex-direction: column;
    min-width:74px;
    font-size:20px;
    background-color:white;
    border-radius: 15px;
    box-shadow:1px 2px 33px -20px ;
    width:fit-content;
    padding-left:16px;
    padding-right:16px;
    height:320px;
    margin-left:4px;
    margin-right:4px;
   
}
.day-title{
    display:flex;
    justify-content:center;
    height:30px;
    margin:20px 0px 28px 0px;
    font-size:26px;
    font-weight:400;
}
.day-entire-info-box{
    display:flex;
    flex-direction:column;
}
.day-info{
    display:flex;
    height:30px;
    font-size:22px;
    justify-content:center;
    flex-direction:row;
    font-weight:300;
    margin:10px 0px 8px 0px;
}
.day-weather{
    margin-top:16px;
}
.day-humidity{
    font-size:20px;
    margin-top:16px;
    align-items:end;
}
.day-pressure{
    font-size:20px;
    margin-top:16px;
    align-items:end;
}
  
.bottom-saved-places-and-title-container{
    display:flex;
    height:35%;
    flex-direction:column;
    width:100%;
    /* align-self:center;
    justify-content: space-around; */
    margin-bottom:0px;
    justify-content: space-around;
    background-color: rgba(220, 219, 219, 0.796);
    border-radius:10px;
    margin-top:40px;
    
    padding-bottom:20px;
}
.saved-places-title-and-add-btn-container{
    display:flex;
    flex-direction:row;
    height:fit-content;
    width:100%;
    margin-bottom:20px;
    margin-top:30px;
    margin-left:20px;
}
.saved-places-title{
    display:flex;
    justify-content:center;
    height:fit-content;
    align-items:center;
    font-size:36px;
    font-weight:400;
    width:fit-content;
    min-width:fit-content;
    border-radius: 10px;
    padding:6px;
    margin-right:20px;
    
}

.modal-container{
    display:none;
    z-index:90;
    width:fit-content;
    height: fit-content;
    align-items: center;
    x:center;
    y:50%;
    background-color: rgb(78, 114, 145);
    color:white;
    border-radius:12%;
    position: absolute;
     top: 50%; 
    left: 50%; 
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.modal{
    display:flex;
    flex-direction:column;
    height:450px;
    width:450px;
    align-items: left;
    justify-content: center;
    padding-left: 30px;
}
.modal-place-name-and-image{
    display:flex;
    flex-direction: row;
    width:fit-content;
    height:20%;
    width:90%;
    justify-content: space-between;
    align-items: center;
}
.modal-place-name{
    display:flex;
    justify-content:center;
    align-items:center;
    margin-left:40px;
    font-size:30px;
    font-weight:600;
    font-size: 42px;
}
.modal-weather-image{
    display:flex;
    margin-left:40px;
    margin-right:20px;
    align-items: end;
    align-items: end;
    height:fit-content;
}
.modal-main-info{
    display:flex;
    flex-direction: column;
    height:50%;
    justify-content: space-between;
    margin:0px;
}
.modal-temperature{
    display: flex;
    padding: 10px;
    margin-left:10px;
    font-weight:400;
    font-size:20px;
}
.modal-weather{
    display: flex;
    padding: 10px;
    margin-left:10px;
    font-weight:400;
    font-size:20px;
}
.modal-pressure{
    display: flex;
    padding: 10px;
    font-weight:400;
    margin-left:10px;
    font-size:20px;
}
.modal-humidity{
    display: flex;
    padding: 10px;
    font-weight:400;
    margin-left:10px;
    margin-bottom:20px;
    font-size:20px;
}
.modal-close-btn{
    display:flex;
    width:fit-content;
    justify-self: flex-start;
    padding:8px;
    padding-left:14px;
    padding-right:14px;
    align-items: right;
    align-self: flex-end;
    margin-right:50px;
    font-size:20px;
    font-weight:500;
    border-radius:18px;
    background-color: rgb(100, 99, 99);
    
}
.saved-places-and-map-container{
    height:100%;
    display:flex;
    flex-direction: row;
    height:100%;
    justify-content:left;
    margin-left:4px;
    margin-right:4px;
    max-width:1400px;
}


.saved-places-container{
    display:flex;
    flex-direction: row;
    width:fit-content;
    justify-self: center;
}
.saved-place-box{
    display:flex;
    width:200px;
    border-radius:8%;
    margin-left:16px;
    padding:0px;
    margin-right:16px;
    flex-direction:column;
    background-color: rgba(233, 234, 235, 0.993);
    height:250px;
}
.hovered.saved-place-box{
    
    background-color: rgb(187, 185, 185);
    height:250px;
}


.add-place-btn{
   
    margin-left:20px;
    display:flex;
    width:fit-content;
    height:fit-content;
    padding:10px;
    padding-left:16px;
    padding-right:16px;
    background-color:rgb(39, 179, 197);
    border-radius:26px;
    align-self:center;
    justify-content:center;
    font-size:22px;
    font-weight:600;
    color:var(--light-text-grey);
}

.saved-place-weather-image{
    height:fit-content;
    width:fit-content;
    align-self:center;
    justify-content: center;
    align-items: center;;
}
.saved_place_name_and_icon_box{
    display:flex;
    flex-direction:column;
    justify-content:center;
}
.saved-place-name-box{
    margin-top:20px;
    display:flex;
    align-self:center;
    height:fit-content;
    justify-content: center;
    align-items:center;
    font-size:22px;
    font-weight:400;
    
}
.saved-place-temp-box{
    display:flex;
    height:fit-content;
    align-self: center;
    margin:10px 0px 10px 0px;
    width:88%;
}
.saved-place-humidity-box{
    display:flex;
    height:60px;
    align-self: center;
    margin:10px 0px 10px 0px;;
    width:88%;
    margin-bottom:0px;

}
.buttons-container{
    display:flex;
    flex-direction:column;

    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    display:none;
}
.know-more-button{
    display:flex;
    height:fit-content;
    border-radius:24px;
    width:144px;
    padding:10px 0px 10px 0px;
    background-color:rgb(10, 170, 233);
    margin-bottom:10px;
    color:var(--light-text-grey);
    justify-content: center;
    align-items: center;
    font-size:18px;
    font-weight:700;
    
}

.clear-place-button{
    display:flex;
    height:fit-content;
    padding:10px 0px 10px 0px;
    border-radius:24px;
    width:144px;
    background-color:rgb(218, 28, 28);
    color:var(--light-text-grey);
    justify-content: center;
    align-items: center;
    font-size:18px;
    font-weight:700;
    display:none;
}
.hovered .buttons-container{
    display:flex;
}
.hovered .clear-place-button{
    display:flex;
}
.hovered .know-more-button{
    display:flex;
}

.dark-theme .bottom-saved-places-and-title-container{
    background-color: #000f21c2;

}

.dark-theme .place-name{
    color:var(--light-text-grey);
}

.dark-theme .top-box{
    background-color: #000f21c2;
    color:var(--light-text-grey);
}
.dark-theme .main-info-box{
    color:black;
}
.dark-theme .day-title-names-container{
    color:var(--light-text-grey);
}
.dark-theme .day-container{
    color:black;
}
.dark-theme .saved-places-title{
    color:var(--light-text-grey);
}